:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Fundamental para que los paddings no rompan el ancho */
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f4f4f4; /* Fondo gris claro para que resalten los zapatos */
}